.input {
    width: max-content;
    border: none;
    outline: none;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.48);
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.labelText {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}
